/* Siga as orientações no arquivo README para concluir o exercício */


.container {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: rgb(99, 197, 99);
      color: darkblue;
      
}   

.cabecalho {
    background-color: #e7ca48;
    text-align: center;

}   

.titulo {
    font-size: 32px;
    font-weight: bold;
    color: rgb(68, 120, 233);
}

.subtitulo {
    color: rgb(255, 255, 255);
}

.conteudo p {
    color: #E4005A;
    font-size: 42px;
}

.cabecalho p:last-child {
    color: rgb(255, 4, 255);
}

.conteudo {
    background-color: rgb(81, 139, 206);
    color: white;
}
